<% include ../partials/header %>

<p class="lead">Hello Admin, let's get you logged in...</p>
  <p style ="color:red;">
    <% if(message){ %>
    <%= message%>
    <% } %>
  </p>
  <form action="/login" method ="POST">
    <p>
      <label for="user">Username:</label>
      <input type="text" name="username" id="user" autofocus>
    </p>
    <p>
      <label for="pass">Password:</label>
      <input type="password" name="password" id="pass">
    </p>
    <p>
      <input type="submit" value="Log In" class = "btn btn-primary">
    </p>
  </form>

  <% include ../partials/footer %>